{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
           <br>
            <div class="card mb-3">
                <div class="card-header"> <h3>
                 
                  Signalé par Mr / Mme:  {{ citoyen.nom }}
               
                    <a class="btn btn-sm btn-success" href="{% url 'liste_travaux' %}" style="padding: 8px; float: right; background-color:  #008d7d; color: white;"><i class="fas fa-chevron-left fa-lg"></i>
                      Retour</a>
                    </h3>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        
                       
                      
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="text-center" style="background-color: #008d7d; color: white">
                            <tr>
                            <th>Id</th>
                            <th>Description</th>                                                   
                            <th>Date dubut</th>
                            <th>Date fin prevue</th>
                            <th>Etat d'avancement</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ travail.id }}</td>
                                <td>{{ travail.description }}</td>
                                <td>{{ travail.date_debut }}</td>
                                <td>{{ travail.date_fin_prevue }}</td>
                                <td>{{ travail.etat_davancement }}</td>
                            </tr>
                         
                        </tbody>
                      </table>
                      <h4>Tâches</h4>
                      <table class="table table-bordered">
                        <thead class="text-center" style="background-color: #008d7d; color: white">
                            <tr>
                            <th>Id</th>
                                <th>Type</th>
                                <th>Lieu</th>
                                <th>Etat</th>
                                <th>Date signalé</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for signalement in signalements %}
                          <tr>
                            <td>{{ signalement.id }}</td>
                            <td>{{ signalement.type_signalement }}</td>
                            <td>{{ signalement.etat_signalement }}</td>  
                            {% comment %} <td>
                              {% for analyse_patient in analyse.analysepatient_set.all %}
                                {% if analyse_patient.patient == patient %}
                                  {{ analyse_patient.etat }}
                                {% endif %}
                              {% endfor %}
                            </td> {% endcomment %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>   
                    </div>
                      
                    {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                    {% endif %}
            
                    </div>
                </div>
            </div>
        </div>
    </div>
  </tbody>
</table>
{% endblock %}
