{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                </li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Mise à jours du travail
                    <a class="btn btn-sm btn-success" href="{%url 'liste_travaux'%}" style="padding: 8px; float: right; background-color: #008d7d; color: white;"><i class="fas fa-chevron-left fa-lg"></i>
                        Retour</a>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        
                      <form method="post">
                        {% csrf_token %}

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead class="text-center" style="background-color: #008d7d; color: white">
                                <tr>
                                    <th>Description</th>
                                    {% comment %} <th>Date debut</th>
                                    <th>Date fin prevu</th> {% endcomment %}
                                    <th>Etat d'avancement</th>
                                    <th>Signalement</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" name="description" value="{{ travail.description }}"></td>
                                    {% comment %} <td><input type="text" name="prenom" value="{{travail.date_debut }}"></td>
                                    <td><input type="text" name="contact" value="{{ travail.date_fin_prevue }}"></td> {% endcomment %}
                                    <td><input type="text" name="sexe" value="{{ travail.etat_davancement }}"></td>
                                    <td><input type="text" name="adresse" value="{{ travail.signalements.id }}"></td>
                                </tr>
                            </tbody>
                        </table>
                    
                        
                        <p>Employés</p>

                            <div class="checkboxes-container">
                            {% for employe in travail.employes.all %}
                                <label class="checkbox-inline">
                                <input type="checkbox" name="employes" value="{{ employe.id }}" {% if employe in selected_employes %}checked{% endif %}>
                                {{ employe.nom }} ({{ employe.poste }})
                                </label>
                            {% endfor %}
                            </div>     
                            <button class="btn btn-primary btn-block" type="submit" style="background-color: #008d7d;"><i class="fas fa-database"></i> Enrégistrer les modification &nbsp;&nbsp;&nbsp;<span></span></button></form>
                        </form>
                    
                    {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                    {% endif %}
            
                    </div>
                </div>
            </div>
        </div>
    </div>
  </tbody>
</table>
{% endblock %}
