 <!-- Edit Tickit-->
 <div class="modal fade" id="edittickit" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
    <div class="modal-content">
        <form action="" method="post"><div class="modal-header">
            <h5 class="modal-title  fw-bold" id="edittickitLabel">Demande numéro:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="sub1" class="form-label">Subject</label>
                <input type="text" class="form-control" id="sub1" value="punching time not proper">
            </div>
            <div class="deadline-form">
                <form>
                    <div class="row g-3 mb-3">
                        <div class="col">
                        <label for="depone11" class="form-label">Assign Name</label>
                        <input type="text" class="form-control" id="depone11" value="Victor Rampling">
                        </div>
                        <div class="col">
                        <label for="deptwo56" class="form-label">Creted Date</label>
                        <input type="date" class="form-control" id="deptwo56" value="2021-02-25">
                        </div>
                    </div>
                </form>
            </div>
            <div class="mb-3">
                <label  class="form-label">Status</label>
                <select class="form-select">
                    <option selected>Completed</option>
                    <option value="1">In Progress</option>
                    <option value="2">Wating</option>
                    <option value="3">Decline</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
            <button type="submit" class="btn btn-primary">sent</button>
        </div>

        </form>
    </div>
    </div>
</div>
